*{
  color: white;
}


body{
  background-color: black;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.color-primario{
  background-color: rgb(1, 238, 238);
}
.color-segundario{

  color: black;

}


    