/*

font-family: 'Raleway', sans-serif;

*/

*{
  font-family: 'Raleway', sans-serif;
  color: white;
}


body{
  background-color: black;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


footer, .color-primario{
  background-color: rgb(1, 238, 238);
}

.color-nav{
  transition: 750ms ease;
  background-color: transparent;
}
.color-nav.scrolled{
  background-color: rgb(0, 180, 180) !important;

}
.color-segundario{

  color: black;

}






    